.App {
  margin: 25px;
}

.Assignment1 {
  border: 1px solid red;
  margin: 5px;
  padding: 5px;
}

.Assignment2 {
  border: 1px solid orangered;
  margin: 5px;
  padding: 5px;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}
